@import 'node_modules/swiper/swiper.scss';
@import 'node_modules/bootstrap/scss/bootstrap';
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css');

$accent-color: #f5f351;

body {
	background: #201f24;
	color: white;
}

nav.container-fluid {
	position: absolute;
	height: 70px;
	padding-left: 100px;
	padding-right: 100px;
}

.nav-icons {
	font-size: 1.4rem;
	margin: 0 12px;
	cursor: pointer;
}

.bi-list {
	font-size: 1.8rem;
	margin-left: 40px;
}

.nav-flag {
	width: 30px;
	height: 20px;
	margin-right: 20px;
	background: linear-gradient(
		to right,
		blue calc(100% / 3),
		white calc(100% / 3),
		white calc(100% / 3 * 2),
		red calc(100% / 3 * 2)
	);
}

.info-date {
	font-size: 0.9rem;
	color: $accent-color;
	width: 162px;
}

.nav-container {
	display: flex;
	align-items: center;
}

.right-aligned {
	align-items: flex-end;
	justify-content: flex-end;
}

.nav-container img {
	margin-right: 40px;
}

.racer-image {
	height: 100%;
	background-image: url('../assets/racer.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 100%;
}

.container-fluid {
	&.hero-container {
		background: radial-gradient(circle at 50% 80%, #8e1911, #1b0605);
		height: 800px;
		text-align: center;
	}
	&.slider-container {
		height: 680px;
		padding: 100px 0 0 100px;
		background: #151517;
	}
	&.sponsors-container {
		background: #151517;
	}
}

.r-col {
	height: 480px;
	padding: 100px;

	& p {
		width: 100%;
		margin-bottom: 60px;
	}
}

h2 {
	text-transform: uppercase;
	font-style: italic;
	font-weight: bold;
	margin-bottom: 40px;
	width: fit-content;
	margin-right: 40px;
}

.go-to-link {
	text-decoration: none;
	color: white;
	font-size: 1.2rem;
	text-transform: uppercase;
}

.go-to-link:hover {
	color: $accent-color;
}

.about-image {
	background-image: url('../assets/about-image.png');
	background-size: cover;
}

.about-info {
	background: linear-gradient(#c45248, #af3a30, #93251c);
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.slider-title {
	display: flex;
}

.swiper-slide {
	text-align: center;
	height: 360px;
	background-size: cover;

	& img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
		position: absolute;
	}
}

.article-info {
	position: absolute;
	text-align: left;
	bottom: 0;
	padding: 20px;

	& span {
		display: block;
	}
}

.social-wall-container {
	padding: 80px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	& h2 {
		width: 100%;
		text-align: center;
	}
}

.social-wall-item {
	position: relative;
	width: 360px;
	height: 360px;
	margin: 20px;

	& i {
		position: absolute;
		top: 12px;
		right: 12px;
	}

	& img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.sponsors-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.sponsors-info > i {
	color: $accent-color;
	margin: 0;
}

.accent-link {
	color: $accent-color;
}

.sponsors-image {
	background-image: url('../assets/sponsors-image.png');
	background-size: cover;
}

footer.container-fluid {
	background: linear-gradient(#c45248, #af3a30, #93251c);
}

.footer-container {
	display: flex;
	flex-direction: column;
	padding: 40px 100px;
	height: 200px;
	justify-content: space-between;
}

.text-sec {
	color: rgba(255, 255, 255, 0.4);
}

@media (max-width: 768px) {

	.nav-container {
		padding: 0;
		align-items: center;
		justify-content: center;
	}

	.container-fluid.slider-container {
		padding: 100px 0 0 0;
	}

	.r-col {
		padding: 30px;
	}

	.slider-container h2 {
		padding-left: 20px;
	}

	h2 {
		text-align: center;
		margin: 0 20px 20px 0;
	}

	.footer-container {
		padding: 30px;
		align-items: center;
		text-align: center;
	}
}
